*{
    padding: 0;
    margin: 0;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 400px;
    height: 600px;
    background-color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px;
}

button{
    width: 3em;
    height: 3em;
    border: none;
    outline: none;
    font-size: xx-large;
    border-radius: 1.5em;
    background-color: rgb(85, 85, 85);
    color: white;
}

.buttons_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
input{
    height: 100px;
    border-radius: 10px;
    text-align: right;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 3rem;
}

button:hover{
    opacity: 70%;
    cursor: pointer;
}

button:active{
    opacity: 90%;
}

